<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header (cityDto)">
    <header class="header">
        <div class="container d-flex align-items-center h-100">
            <a href="/" class="me-5">
                <img src="logo.svg" alt="logo">
            </a>
            <div class="dropdown flex-grow-1">
                <button class="btn btn-secondary dropdown-toggle geo-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="geo_icon.svg" alt="geo dropdown icon">
                    Выбрать город
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <th:block th:each="c : ${cityDto}">
                        <a class="dropdown-item" href="#"><li th:text="${c.getCityName()}"></li></a>
                    </th:block>
                </ul>
            </div>

            <div th:if="${isAuthorized}">
                <a href="/api/account/" th:text="${user.getUsername()}"></a>
                <a href="/logout">Выход</a>
            </div>
            <div th:unless="${isAuthorized}">
                <a href="/login">Войти</a>
                <a href="/login">Регистрация</a>
            </div>
        </div>
    </header>
</div>

</body>
</html>