<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="fragments/head.html :: head"/>
    <title>Title</title>
</head>
<body>

    <header class="header">
        <div class="container d-flex align-items-center h-100">
            <a href="/" class="me-5">
                <img th:src="@{/static/images/logo.svg}" alt="logo">
            </a>
            <div class="dropdown flex-grow-1">
                <button class="btn btn-secondary dropdown-toggle geo-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <img th:src="@{/static/images/geo_icon.svg}" alt="geo dropdown icon">
                    Выбрать город
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <th:block th:each="c : ${city}">
                        <a class="dropdown-item" href="#"><li th:text="${c.getCityName()}"></li></a>
                    </th:block>
                </ul>
            </div>

            <div th:if="${isAuthorized}">
                <a href="/api/account/" th:text="${user.getUsername()}"></a>
                <a href="/logout">Выход</a>
            </div>
            <div th:unless="${isAuthorized}">
                <a href="/login">Войти</a>
                <a href="/login">Регистрация</a>
            </div>
        </div>
    </header>

    <main class="container d-flex flex-column justify-content-center align-items-center">
        <h3 class="main-heading mb-4" th:text="${post.getHeader()}"></h3>
<!--        <img src="">-->
        <div th:text="${post.getDescription()}"></div>
        <div th:text="${post.getDateFrom()}"></div>
        <th:block th:each="p : ${photos}">
            <img th:src="@{~/photo/${p.getId()}}">
        </th:block>
        <div th:text="${post.getLikes().getLikes()}"></div>
        <div th:text="${post.getDislikes().getDislikes()}"></div>
        <div th:text="${post.getHeader()}"></div>

    </main>

    <div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>